
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path   %></li>
            <li><%= link_to "About", about_path %></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Create a Todo", new_todo_path %></li>
            <li><%= link_to "Index", todos_path %></li>
            
          </ul>
        </nav>
      </div>
    </header>